body {
    margin: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: hsl(185, 41%, 84%);
    background-size: cover;
  }

  .App {
    text-align: center;
  }
  
  .text-primary{
    color: hsl(186, 14%, 43%);
    font-weight: 700;
  
  }
  
  .text-big{
    font-size: 24px;
  }

  @media only screen and (max-width: 726px) {

    .text-primary{
      font-weight: 500;
    
    }

  }
  
  
  
  
  